.grid-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1rem;
}

@media ( max-width: 750px ) {
    .grid-container {
      grid-template-columns: 1fr;   
    }
  }

.grid-container > div {
    padding: 1rem;
    border: 1px solid #e0e0e0;
}
