<div>
  <div (click)="toggleComplete.emit(todo)" (touchstart)="swipe($event, 'start')" (touchend)="swipe($event, 'end')">
    <div class="form-check">
      <input
        class="form-check-input"
        type="checkbox"
        value=""
        id="{{ todo?.id }}"
        [checked]="todo?.complete"
        (click)="toggleComplete.emit(todo)"
      />

      <img
        src="{{ todo?.imgFileName }}"
      />

      <label class="form-check-label" for="{{ todo?.id }}">
        <del *ngIf="todo?.complete">
          {{ todo?.title }}
        </del>
        <span *ngIf="!todo?.complete">
          {{ todo?.title }}
        </span>
      </label>
    </div>
  </div>
  <div *ngIf="shouldShowActions">
    <button>Delete?</button>
    <button (click)="hideActions()">Cancel</button>
  </div>
</div>
